* {
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.page{

    padding: 0;
    min-width: 70vh;
    max-height: 100vh;
      
}

header{
    height: 3.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    
    margin-top: 0;
    
}

header > img{
    width: 1.5rem;
    height: 1.5rem;
    
}

header > h4{
    font-weight: 500;
    font-size: 0.875rem;
    color: white;
    padding: 0 0.4375rem;
}
.card-big{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    /*border: solid;*/
}
.card{
    border: solid red 5px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-width: 1000px;
}

.card > img{
    height: 10.5rem;
    width: 7.8125rem;
    border-radius: 0.3125rem;
    margin: 2.8125rem 1.25rem 1.125rem 2.5rem;
}

.location{
    margin-top: 4rem;
    margin-bottom: 0;
        
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 12.3125rem;
    font-weight: 400;
    font-size: 0.625rem;
}

.location > img{
    width: 0.4375rem;
    height: 10px;
}

.country{
    color: #2B283A;
    padding-left: 2px;
    padding-right: 12px;
    font-weight: 500;
}

.google-maps{
    text-decoration: underline;
    text-decoration-color: #918E9B; 
    color: #918E9B;
}

h1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0;
}

/*#mini-card{
    border: solid blue 5px;
}*/
.date{
    display: flex;
    
}
.date > h4{
    margin-right: 2px;
    font-size: 10px;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 9px;
}

.mini-card > p{
    font-weight: 400;
    font-size: 10px;
    max-width: 300px;
}

.line{
    border-bottom: solid #F5F5F5 1px;
    max-width: 75%;
    margin-left: 40px;
    margin-right: 40px;
}